* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background: #fff;
}
h2 {
  font-size: 1.2em;
  padding: 20px 0 15px;
}
.container {
  width: 400px;
  padding: 10px 20px;
  background: #fff;
  margin: 0 auto 20px;
}
.tableWrapper {
  background: #d9edd0;
}
table {
  border: 1px solid black;
  margin: 0 0 30px;
}
td {
  border: 1px solid black;
}
